.aboutMe_container {
    display: flex;
    padding: 10px;
    margin-bottom: 30px;
}

.aboutMe_leftSide {
    width: 50%;

}

.profile_photo {
    width: 90%;
    height: 85%;
}

.aboutMe_quoteTitle {
    color: red;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
    padding-top: 15px;
}

.aboutMe_quote {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    font-weight: 600;
}

.aboutMe_description {
    color: chocolate;
    font-weight: bold;
    font-size: 20px;
}

.descr {
    padding-top: 7px;
}

.aboutMe_rightSide {
    display: flex;
}

.descr_Wrapper {
    padding-left: 15px;
}

.vl {
    height: 400px;
    border-left: 1px solid grey;
    opacity: .5;
}

.photos_container {
    text-align: center;
}

.diplomaBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
}

.diplomaImage {
    width: 500px;
    height: 400px;
    box-shadow: 0 0 10px rgba(5, 5, 5, 0.58);
    margin-top: 20px;
    transition: .3s all;
}

.extra {
    height: 700px;
}

.diplomaImage:hover {
    transition: .3s all;
    transform: scale(1.1);
}

@media screen and (max-width: 376px){
    .diplomaImage {
        width: 200px;
    }

    .profile_photo {
        height: 100px;
    }

    .aboutMe_quote {
        font-size: 15px;
        padding-top: 10px;
    }
    .aboutMe_quoteTitle {
        font-size: 20px;
    }
    .aboutMe_description {
        font-size: 15px;
    }
}
